In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-06 13:11:53--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8002::154, 2606:50c0:8001::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M   531KB/s    in 2.7s

2022-09-06 13:11:58 (531 KB/s) - ‘data.csv’ saved [1475504/1475504]

In [31]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_csv('data.csv')

In [33]:
#Question 1:

np.__version__

'1.21.5'

In [34]:
#Question 2:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [35]:
# Question 3:

df.Make.value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [36]:
# Question 4: 

df[df.Make=='Audi']['Model'].value_counts().info()

<class 'pandas.core.series.Series'>
Index: 34 entries, A3 to RS 6
Series name: Model
Non-Null Count  Dtype
--------------  -----
34 non-null     int64
dtypes: int64(1)
memory usage: 544.0+ bytes

In [37]:
# Question 5: 
# Count all except 0

df.isna().sum().value_counts()

0       11
3        1
69       1
30       1
6        1
3742     1
dtype: int64

In [38]:
#Question 6:

df["Engine Cylinders"].value_counts().head(1)

4.0    4752
Name: Engine Cylinders, dtype: int64

In [39]:
df1=df.copy()
df1["Engine Cylinders"].fillna(4.0,inplace=True)
df1["Engine Cylinders"].value_counts().head(1)

4.0    4782
Name: Engine Cylinders, dtype: int64

In [40]:
#original median
df['Engine Cylinders'].median()

6.0

In [41]:
#after filling missing values
df1['Engine Cylinders'].median()

#HENCE NO CHANGE IN MEDIAN

6.0

In [42]:
#QUESTION 7:


df_lotus=df[df.Make=='Lotus']
df_l=df_lotus[["Engine HP","Engine Cylinders"]].drop_duplicates()
df_l.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9 entries, 3912 to 4293
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Engine HP         9 non-null      float64
 1   Engine Cylinders  9 non-null      float64
dtypes: float64(2)
memory usage: 216.0 bytes

In [43]:
X=df_l.to_numpy()
y=[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
XTX=np.dot(X.T,X)

In [44]:
x=np.dot(np.linalg.inv(XTX),X.T)
w=np.dot(x,y)
w[0]

4.594944810094579