In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Project desription

The dataset contains 
Goal of this project is to study the reasons behind employees churning, and make a predictive model which lets you know when an employee is about to churn.

The dataset contains following columns (features) associated to each of its employees,

### Features:

'satisfaction_level': How satisfied employees is?
'last_evaluation': When was performance of employee evaluated last time?
'number_project': Number of projects an employee is taking on
'average_montly_hours': Average hour an employee commiting to organisation
'time_spend_company': Total time spent at the company
'Work_accident': Has employee been through any work related accidents?
'promotion_last_5years'
'dept'
'salary'

### Target:

'left': 1 means employee has left and 0 means employee is still working

## Creating dataframe and performing EDA

In [2]:
df=pd.read_csv("HR_data.csv")
data=df.copy()

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low